#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  windmill_server-app.service
BindsTo=windmill.service
After=windmill.service db-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/windmill_server-app.pid %t/windmill_server-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/windmill_server-app.pid  --cidfile %t/windmill_server-app.ctr-id --cgroups=no-conmon  --pod-id-file %t/windmill.pod-id --replace -d --name  windmill_server-app  --volume workerlogs:/tmp/windmill/logs:Z   --env-file windmill_server.env  ${${WM_IMAGE}_IMAGE}  
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/windmill_server-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP windmill_server-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/windmill_server-app.ctr-id
PIDFile=%t/windmill_server-app.pid
Type=forking

[Install]
WantedBy=default.target
